html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body > input[type="radio"] {
  display: none;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
ul {
  list-style: none;
}
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
button,
input {
  /* 1 */
  overflow: visible;
}
button,
select {
  /* 1 */
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.about {
  width: 96%;
  height: 310px;
  margin: -25px auto 35px;
  padding: 0 20px;
  box-sizing: border-box;
  background: url("../img/waffle-bcg.jpg") no-repeat 0 0;
  border-radius: 30px;
}
.about h2 {
  padding-top: 27px;
  font-size: 24px;
  margin-bottom: 10px;
}
.about p {
  display: block;
  width: auto;
  padding-left: 60px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
}
.about__column {
  display: inline-block;
  width: 49%;
}
.about__column:first-child {
  float: left;
}
.about__column:last-child {
  float: right;
}
.about__decor {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.about--ice {
  background-image: url("../img/ice.png");
}
.about--leaf {
  background-image: url("../img/leaf.png");
}
.about--cow {
  background-image: url("../img/cow.png");
}
.about--thrm {
  background-image: url("../img/thrm.png");
}
.news {
  width: 96%;
  height: 222px;
  margin: auto;
  margin-bottom: 40px;
}
.blog {
  width: 560px;
  height: 222px;
  padding: 0 20px;
  box-sizing: border-box;
  background: url("../img/strawberry-bcg.jpg") no-repeat 0 0;
  border-radius: 20px;
  float: left;
}
.blog p {
  font-size: 18px;
  display: block;
}
.blog a {
  display: block;
  width: 300px;
  padding-right: 240px;
  font-size: 24px;
  color: black;
}
.subscribe {
  min-width: 420px;
  max-width: 560px;
  height: 222px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 20px;
  background: url("../img/post-bcg.jpg") no-repeat 0 0;
  float: right;
}
.subscribe--background {
  height: 212px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.subscribe p {
  font-size: 16px;
  margin-bottom: 40px;
}
.subscribe button {
  width: 130px;
  font-size: 18px;
}
.subscribe input {
  width: 370px;
  height: 45px;
  border-radius: 5px;
  outline: none;
}
.breadcrumbs {
  display: inline-block;
}
.catalog-wrapper {
  width: 100%;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 23%;
  margin: auto;
  padding: 10px;
  min-height: 260px;
  text-align: center;
}
.catalog-item img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}
.catalog-item__price {
  position: absolute;
  top: 215px;
  left: 10px;
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
.catalog-item__description {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: underline;
}
.catalog-item:hover {
  background-color: #aebeb4;
  border-radius: 5px;
  padding-bottom: 25px;
}
.catalog-item__popular {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 64px;
  height: 64px;
  background: url("../img/hit.png") no-repeat 0 0;
}
.catalog-item:hover .catalog-item__btn {
  visibility: visible;
  width: 200px;
  height: 45px;
}
.catalog-item__btn {
  visibility: hidden;
}
.contacts {
  width: 305px;
  height: 305px;
  position: absolute;
  top: 60px;
  right: 30px;
  background-color: white;
  border-radius: 5px;
  padding: 20px 30px;
  box-sizing: border-box;
}
.contacts p {
  font-size: 14px;
}
.contacts p:last-of-type {
  margin-top: -10px;
  margin-bottom: 25px;
}
.contacts h3 {
  font-size: 18px;
  margin-top: -3px;
}
.feedback {
  display: inline-block;
  vertical-align: middle;
  width: 250px;
  height: 45px;
  padding-top: 12px;
  box-sizing: border-box;
  color: #ffffff;
  border-radius: 50px;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}
.main-wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.main-wrapper::before,
.main-wrapper::after {
  content: "";
  visibility: hidden;
}
.main-wrapper::before {
  background-image: url("slide2.png");
}
.main-wrapper::after {
  background-image: url("slide3.png");
}
#btn-1:checked ~ .main-wrapper #slide1,
#btn-2:checked ~ .main-wrapper #slide2,
#btn-3:checked ~ .main-wrapper #slide3 {
  display: block;
}
#btn-1:checked ~ .main-wrapper label[for="btn-1"],
#btn-2:checked ~ .main-wrapper label[for="btn-2"],
#btn-3:checked ~ .main-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
#btn-1:checked ~ .main-wrapper {
  background-image: url("../img/slide1.png");
  background-color: #849d8f;
}
#btn-2:checked ~ .main-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide2.png");
}
#btn-3:checked ~ .main-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide3.png");
}
.footer-menu {
  display: inline-block;
  -moz-column-count: 2;
       column-count: 2;
  float: left;
  margin-left: 205px;
  padding-top: 33px;
}
.footer-menu a {
  display: block;
  width: auto;
  color: white;
  font-size: 13px;
  line-height: 18px;
}
.footer-menu a:nth-child(2) {
  padding-left: 25px;
}
.footer-menu__icon {
  display: block;
  float: left;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background: url("../img/heart.png") no-repeat 0 0;
}
.footer-social {
  float: left;
  display: inline-block;
  padding-top: 35px;
  vertical-align: baseline;
  width: 200px;
}
.social-btn {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 0;
}
.btn-tw {
  background-image: url("../img/tw.png");
}
.btn-insta {
  background-image: url("../img/insta.png");
}
.btn-fb {
  background-image: url("../img/fb.png");
}
.btn-vk {
  background-image: url("../img/vk.png");
}
.footer-copyright {
  display: inline-block;
  float: right;
  width: 200px;
  padding-top: 17px;
}
.footer-copyright p {
  font-size: 12px;
  line-height: 0;
  color: white;
}
.logo {
  float: left;
  width: 154px;
  height: 64px;
  margin-top: 10px;
  margin-right: 30px;
  background: url("../img/logo.png") no-repeat 0 0;
}
.main-nav {
  display: inline-block;
  float: left;
  position: relative;
  z-index: 50;
}
.main-nav ul {
  padding-left: 0;
}
.main-nav__item {
  display: block;
  float: left;
  width: auto;
  margin-top: 15px;
  margin-right: 30px;
  padding-bottom: 120px;
}
.main-nav__item:hover {
  margin-top: 0;
  padding: 15px;
  background-color: white;
  border-radius: 50px;
}
.main-nav__item a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.main-nav__item a:hover {
  color: black;
}
.main-nav__submenu {
  display: none;
}
.main-nav__subitem {
  display: block;
  padding: 15px 0;
}
.main-nav__subitem:first-child {
  border-bottom: 1px solid #d1d0ce;
}
.main-nav__subitem a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
}
.main-nav__subitem:first-of-type a {
  font-weight: bold;
}
.main-nav__subitem:hover {
  background-color: #fbded8;
}
.main-nav:hover .main-nav__submenu {
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 0;
  width: 145px;
  background-color: white;
  border-radius: 5px;
}
.map {
  width: 100%;
  position: relative;
  height: 430px;
  margin: auto;
  background: url("../img/map.jpg") no-repeat 0 0;
}
.pin {
  position: absolute;
  top: 140px;
  left: 260px;
  width: 80px;
  height: 140px;
  background: url("../img/pin.png") no-repeat 0 0;
}
.offer {
  width: 96%;
  height: 230px;
  margin: auto;
  margin-bottom: 30px;
}
.offer__item {
  width: 560px;
  height: 230px;
  padding: 0 20px;
  box-sizing: border-box;
  color: white;
  border-radius: 20px;
}
.offer__item:first-child {
  float: left;
}
.offer__item:last-child {
  float: right;
}
.offer__item h3 {
  font-size: 35px;
  line-height: 0;
}
.offer__item p {
  font-size: 18px;
  margin-bottom: 50px;
}
.offer--raspberry {
  background: url("../img/raspberry-bcg.jpg") no-repeat 0 0;
}
.offer--choko {
  background: url("../img/choko-bcg.jpg") no-repeat 0 0;
}
.offer-btn {
  width: auto;
  height: 45px;
  padding: 0 20px;
  box-sizing: border-box;
  float: right;
  font-size: 18px;
  font-weight: bold;
}
.page-wrapper {
  width: 1200px;
  margin: auto;
  background-color: #849d8f;
}
header {
  display: inline-block;
  width: 96%;
  padding: 0 20px;
  margin: auto;
}
footer {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  display: inline-block;
  min-height: 100px;
}
.slyder {
  position: relative;
  width: 96%;
  margin: auto;
  margin-bottom: 40px;
  padding-top: 220px;
  text-align: center;
}
.slide {
  display: none;
}
.slide-title {
  display: block;
  width: 710px;
  margin: auto;
  margin-bottom: 32px;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  color: white;
}
.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slyder__btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slyder__btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px #ac1000;
}
.slyder__btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px #ac1000;
}
.user-menu {
  float: right;
  position: relative;
  margin-top: -10px;
  z-index: 40;
}
.user-menu ul {
  display: inline-block;
}
.user-menu__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  float: left;
  margin-top: 15px;
  margin-right: 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: #d1d0ce;
  opacity: 0.2;
  border-radius: 50px;
}
.user-menu__item:first-of-type a {
  font-size: 0;
  display: block;
  width: 32px;
  height: 32px;
  margin-top: 0;
  background-image: url("../img/search.png");
  background-position: center;
  background-repeat: no-repeat;
}
.user-menu__item:first-of-type a:hover {
  background-image: url("../img/search-hvr.png");
}
.user-menu__item:last-of-type a {
  margin-right: 20px;
}
.user-menu__item:nth-child(2) {
  width: 90px;
}
.user-menu__item:last-of-type {
  width: 120px;
  float: right;
  margin-right: 0;
}
.user-menu__item a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  margin-top: 6px;
  line-height: 20px;
  font-weight: bold;
  opacity: 1;
}
.user-menu__item:hover {
  opacity: 1;
  background-color: #ffffff;
  color: black;
}
.user-menu__item:hover a {
  color: black;
}
.user-menu__icon {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-menu__icon:first-child {
  margin-right: 0;
}
.user-menu__search {
  display: none;
}
.user-menu__item:hover .user-menu__search {
  display: block;
  width: 340px;
  height: 85px;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}
.user-menu__search button {
  display: none;
}
.popup-search input {
  display: block;
  width: 300px;
  height: 45px;
  border-radius: 5px;
}
.icon-enter {
  background-image: url("../img/enter.png");
}
.icon-basket {
  background-image: url("../img/basket.png");
}
.user-menu__item:hover .icon-enter {
  background-image: url("../img/enter-hvr.png");
}
.user-menu__item:hover .icon-basket {
  background-image: url("../img/basket-hvr.png");
}
.popup-login {
  display: none;
}
.user-menu__item:hover .popup-login {
  display: block;
  width: 275px;
  height: 215px;
  position: absolute;
  top: 60px;
  right: 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}
.popup-login input {
  width: 235px;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.user-menu__login {
  width: 235px;
  display: inline-block;
}
.user-menu__login button {
  width: 100px;
  float: left;
}
.user-menu__register a {
  margin-bottom: 10px;
  font-size: 13px;
  text-decoration: underline;
  color: #323232;
}
.time-table {
  margin-top: -20px;
  text-align: right;
  color: white;
  font-size: 14px;
}
.time-table p:last-child {
  margin-top: -10px;
  font-size: 22px;
}
button {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px #ac1000;
}
button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px #ac1000;
}
.btn {
  height: 45px;
}
@font-face {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  src: url("../fonts/roboto.woff") format("woff"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff"), url("../fonts/robotomedium.woff2") format("woff2");
}
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
